# Ignore everything except...
**/*
# Allow specific file types
!**/*.py
!**/*.gitignore
!**/*.txt
#for linux and Win env
!**/*.bat
!**/*.sh
# Ignore any empty directories
!**/
# Exclude build directory
venv