# Ignore everything except...
**/*
# Allow specific file types
!**/*.py
!**/*.gitignore
!**/*.txt
#for linux and Win env
!**/*.bat
!**/*.env
!**/*.sh
!**/*.ps1
!**/*.toml
!**/*.md
!**/*.html
!**/*.css
!**/*.css.map
!**/*.scss
!**/*.js
!**/*.json
!**/*.yml
!**/*.conf
!**/*Dockerfile
# Ignore any empty directories
!**/
# Exclude build directory
venv
